/* Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Explore Container */
  .explore {
    background-color: #fafafa;
    padding-top: 60px; /* Adjust for fixed header */
  }
  
  .explore__posts {
    padding: 20px;
  }
  
  .explore__posts__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 0px;
  }
  
  .explore__posts__container .post {
    position: relative;
    border: 2px solid #dbdbdb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  
  .explore__posts__container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  /* Modal */
  .post-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .post-modal-content {
    background: #fff;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    position: relative;
  }
  
  .post-modal-content img {
    width: 100%;
    border-radius: 10px;
  }
  
  .post-modal-caption {
    margin-top: 15px;
    text-align: center;
  }
  
  .post-modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000;
  }
  